@media screen and (max-width:500px){
   * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   color: white;
}

body{
    background-color: #0F1923;
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    background-image: url(./assets/logo.fw.png);
    background-repeat: no-repeat;
    background-size: contain;

    width: 200px;
    height: 100px;
}

.menu{
    margin-top: 10px;
}

.menu ul {
    display: block;
}

.menu ul li{
    text-align: center;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fachada-loja{
    background-image: url(./assets/fachada-asep.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: 10px;

    width: 100%; 
    height: 220px;   
}

.quem-somos{
    width: 95%;

    padding: 0px 5px;

    display: flex;
    flex-direction: column;

    text-align: justify;

    overflow: hidden;
}

.historia{
    width: 100%;
}

.quem-somos h2{
    margin: 20px 0px;
}

.equipe{
    margin-top: 20px;
    width: 100%;
}

.marcas{
    background-color: aliceblue;
    
    width: 100%;

    margin: 10px 0px;
    padding: 10px 0px;

    text-align: justify;
}

.marcas h3{
    width: 100%;
    margin: 10px 0px 0px;
    padding: 20px;
    color: #0F1923;
}

.marcas ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes-contato{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-contato{
    margin-right: 0px;
}

iframe{
    width: 380px;
    height: 400px;

    margin-top: 20px;
}

form{
    width: 380px;
    border-radius: 3px;
    padding: 20px;
}

}
