* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   color: white;
}

body{
    background-color: #0F1923;
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
}

header{
    width: 100%;    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 50px;
}

.logo{
    background-image: url(./assets/logo.fw.png);
    background-repeat: no-repeat;
    background-size: contain;

    width: 200px;
    height: 100px;
}

.menu ul {
    display: flex;
    padding: 15px;
}

.menu li{
    padding: 15px;
}

main{
    align-items: center;
    justify-content: center;
}

.fachada-loja{
    background-image: url(./assets/fachada-asep.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 10px;

    width: 100%;
    height: 700px;   
}

main{
    width: 100%;
}

.quem-somos{
    margin-top: 20px;
    padding: 0px 20px;
       
    display: flex;
    justify-content: space-between;
}

.quem-somos h2{
    margin: 20px 0px;
}

.quem-somos p{
    display: flex;
    justify-content: center;
    text-align: justify;
}

.historia{
    margin-right: 20px;
    width: 50%;
}

.equipe{
    width: 50%;
}

.equipe img{
    width:100%;   
}

.marcas{
    background-color: aliceblue;
    
    width: 100%;

    margin: 10px 0px;
    padding: 10px 0px;

    text-align: center;
}

.marcas h3{
    width: 100%;
    margin: 10px 0px 0px;
    padding: 20px;
    color: #0F1923;
}

.marcas ul{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.informacoes-contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contato{
    margin-right: 30px;
}

form{
    width: 600px;
    border-radius: 3px;
    padding: 20px;
}

form h1{
    font-size: 22px;
    margin-bottom: 20px;
}

form .areainput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 35px;
    margin-top: 40px;
}

form .areainput label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    transform: translateY(-150%);
}

form .areainput input{
    background-color: #0F1923;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid aliceblue;
    outline: none;   
}

form .areainput textarea{
    background-color: #0F1923;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid aliceblue;
    outline: none;
    
}

form .btn{
    margin-top: 20px;
    width: 100%;
    height: 35px;
    background-color: aliceblue;
    color: #0F1923;
    border: none;
    transition: .3s;
    cursor: pointer;
}

form .btn:hover{
    filter: brightness(.9);
}





