* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}

body{
    background-color: #0F1923;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #ffffff;
}

header{
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: #0F1923;
}

.topo{
    display: flex;
    
    align-items: center;  
    justify-content: center;
}

/*Estilização do menu*/

.logo img{
    width: 160px;
}

.menu a{
    text-decoration:none;
    color: #ffffff;
}

.menu a:hover{
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid #f12c4c;    
}

.menu ul{
    display: flex;
}

.menu li{
    padding: 2px;
    margin: 0px 32px;  
}

/* Estilização do botão quero ser cliente*/

.botao-menu{
    display: flex;
    justify-content: center;
    
    margin: 0px;
    padding: 12px;

    line-height: 28px;
    font-weight: 300;

    color: #ffffff;
    border: 1px solid #f12c4c;
    
    text-decoration:none;
    cursor: pointer;
}

.item1{
    position:relative;
    overflow: hidden;

    transition: .2s;
}

.item1:hover{
    background: #f12c4c;
    box-shadow: 0 0 10px #f12c4c, 0 0 15px #f22c4c, 0 0 30px #f32242;

    transition-delay: 1s;
}

.item1 span{
    position: absolute;
    display: block;
}

.item1 span:nth-child(1){
    width: 100%;
    height: 2px;

    top: 0;
    left: -100%;

    background: linear-gradient(90deg, transparent, #f22c4c);
}

.item1:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.item1 span:nth-child(2){
    width: 2px;
    height: 100%;

    top: -100%;
    right: 0;

    background: linear-gradient(180deg, transparent, #f22c4c);
}

.item1:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
}

.item1 span:nth-child(3){
    width: 100%;
    height: 2px;

    right: -100%;
    bottom: 0;

    background: linear-gradient(270deg, transparent, #f22c4c);
}

.item1:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
}

.item1 span:nth-child(4){
    width: 2px;
    height: 100%;

    bottom: -100%;
    left: 0;
    
    background: linear-gradient(360deg, transparent, #f22c4c);
}

.item1:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

/* Estilização do corpo do site*/

main{     
    margin-top: 95px;
}

.container{
    display: flex;
    justify-content: center;
 }

.fachada-loja{
    background-image: url('assets/fachada-asep.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    /*box-shadow: 0px 0px 2px #F1F3F4;*/
}

.marcas{
    
    background-color: #F1F3F4;
    height: 100px;
}

.marcas ul{
    display: flex;
    justify-content: space-between;
   }

.marcas li{
    display: flex;
    margin: 18px auto;
}

h2{
    margin: 60px 150px;
}

.historia{
   width: 800px;
   margin-right: 60px;
}

.historia p{
    text-align: justify;
    margin-bottom: 20px;
}

.equipe img{
    width: 600px;
}

